<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>byldan</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900" rel="stylesheet">
	<!-- Don't forget to add your metadata here -->
	<link rel='stylesheet' href='<%= asset("css/style.min.css") %>' />
</head>
<body>
	<!-- Hero(extended) navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
        <a href='/' class="navbar__logo">
          <svg width="40" height="40" class="navbar__logoIcon">
            <rect x="10" y="10" height="20" width="20" transform="rotate(45, 20, 20)"></rect>
          </svg>byldan
        </a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="#">work</a></li>
						<li><a href="#">contact</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
            <h1 class="hero__title">Bolster Your Brand So People Will Buy</h1>
            <p class="hero__text">We make cross-channel change to invigorate your brand identity.</p>
              <!-- we<br />design your brand<br />
                visualize your data<br />
                build your app<br />
                & increase your conversions</h1> -->
						<a href="#" class="button button__accent">Get Your Brand Assesment</a>
						<a href="#" class="button button__secondary">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
  <!-- Steps -->
	<!-- <div class="steps landing__section">
		<div class="container">
			<h2>So yeah, here's it all broken down.</h2>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_designer.svg" class="step__image">
					</div>
					<h4>Design & UX Consulting</h4>
					<p class="step__text"></p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_responsive.svg" class="step__image">
					</div>
					<h4>Web & Native App Development</h4>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./images/undraw_creation.svg" class="step__image">
					</div>
					<h4>Data Visualization</h4>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/undraw_brainstorming.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Design & UX Consulting</h2>
            <ul class="expanded__text"> 
              <li>atomic design overhaul</li>
              <li>user/split testing desired outcome optimization</li>
              <li>brand audits and refreshes</li>
            </ul>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/undraw_real-time_sync.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Web & Native App Development</h2>

              <ul class="expanded__text"> 
              <li>2 codes bases for all your properties</li>
              <li>we do React</li>
              <li>& React Native</li>
            </ul>

				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/undraw_browser.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Data Visualization</h2>
          <ul class="expanded__text"> 
              <li>tract and monitor key lead and lag indicators</li>
              <li>bring hidden data to life</li>
            </ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Call To Action -->
	<div class="cta cta--tertiary">
		<div class="container">
			<div class="cta__inner">
				<h2 class="cta__title">Get Your Brand Off The Bottom</h2>
				<p class="cta__sub cta__sub--center">Contact an associate today, to commence your brand journey.</p>
				<a href="#" class="button button__accent">Contact Us</a>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<div class="footer__data">
          <div class="footer__data__item">
              <a href='/' class="footer__textLogo">A branding firm beholden to simplicity, elegance & tact.<br /><br />byldan<sup>&copy;</sup> 2018</a>
          </div>
					<div class="footer__data__item">
            <div class="footer__row">
              <a href="/brand-assesment" class="footer__link">Take a Brand Assesment</a>
            </div>
            <div class="footer__row">
              <a href="/design-ux-consulting" class="footer__link">Design & UX Consulting</a>
            </div>
            <div class="footer__row">
              <a href="/web-native-app-development" class="footer__link">Web & Native App Development</a>
            </div>
            <div class="footer__row">
              <a href="/data-visualization" class="footer__link">Data Visualization</a>
            </div>
					</div>
					<div class="footer__data__item">
            <div class="footer__row">
              <a href="/contact" class="footer__link">Contact</a>
            </div>
            <div class="footer__row">
              <a href="#" target="_blank" class="footer__link">Work</a>
            </div>
            <div class="footer__row">
              <a href="/about" class="footer__link">About</a>
            </div>
					</div>
					<div class="footer__data__item">
            <div class="footer__row">
              <a href="https://twitter.com/" target="_blank" class="footer__link">Twitter</a>
            </div>
            <div class="footer__row">
              <a href="https://www.facebook.com/" target="_blank" class="footer__link">Facebook</a>
            </div>
            <div class="footer__row">
              <a href="#" class="footer__link">Instagram</a>
            </div>
				  </div>
        </div>
      </div>
		</div>
	</div>
<script src='<%= asset("js/app.min.js") %>'></script>
</body>
</html>